<nav class="navigation" role="navigation">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.navigation_pages | default: default_paths %}
  <div class="container">
    <div class="navigation__container">
      <ul class="navigation__links">
        {% for link in site.data.strings.footer.links %}
        <li class="navigation__link"><a href="{{ link.url }}" target="{{ link.target }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
